.dashboard {
  background-color: #ffffff; // Light background
  color: #000000; // Black text
  width: 100vw;
  min-height: 100vh;
  padding: 20px;

  .title {
    color: #60badb; // Blue
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .table {
    .ant-table {
      background-color: #ffffff; // White table background
      border: 2px solid #60badb; // Blue border
      box-shadow: 0 0 10px #60badb; // Glow effect

      .ant-table-thead > tr > th {
        background-color: #ffffff;
        color: #000000;
        text-shadow: 0 0 5px #60badb;
      }

      .ant-table-tbody > tr > td {
        background-color: #ffffff;
        color: #000000;
      }
    }
  }

  .koiImage {
    width: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px #60badb; // Glow effect
  }

  .backButton {
    background-color: #60badb; // Blue background
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #ff6d1f; // Orange on hover
    }
  }
}
