// src/page/ApproveKoiEntries.module.scss

.container {
  min-height: 100vh;
  width: 100vw;
  padding: 20px;
  background-color: #000; // Black background for contrast
  color: #fff; // White text color
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    color: #ff6f61; // Pastel Coral
    text-shadow: 0 0 10px #ff6f61, 0 0 20px #ff6f61, 0 0 30px #ff6f61;
    margin-bottom: 20px;
  }

  .backButton {
    margin-bottom: 20px;
    background-color: #ff6f61; // Pastel Coral
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;

    &:hover {
      background-color: #40a9ff; // Blue
      transform: translateY(-2px);
    }
  }

  .form {
    background-color: #222; // Dark background for form
    border: 1px solid #ff6f61; // Pastel Coral border
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;

    .textField {
      color: #fff; // White text color
      .MuiInputBase-input {
        color: #fff; // White text color
      }
      .MuiInputLabel-root {
        color: #ff6f61; // Pastel Coral
      }
      .MuiFormHelperText-root {
        color: #ff6f61; // Pastel Coral
      }
    }

    .submitButton {
      background-color: #ff6f61; // Pastel Coral
      color: #fff;
      &:hover {
        background-color: #40a9ff; // Blue
      }
    }

    .dialogTitle {
      color: #ff6f61; // Pastel Coral
    }

    .dialogContentText {
      color: #fff; // White text color
    }

    .dialogButton {
      background-color: #ff6f61; // Pastel Coral
      color: #fff;
      &:hover {
        background-color: #40a9ff; // Blue
      }
    }
  }
}
// ApproveKoiEntries.module.scss
.textField {
  & input, & label, & .MuiSelect-select {
    color: white !important;
  }
  
  & label.Mui-focused {
    color: white !important;
  }

  & .MuiOutlinedInput-root {
    & fieldset {
      border-color: white !important;
    }
    &:hover fieldset {
      border-color: white !important;
    }
    &.Mui-focused fieldset {
      border-color: white !important;
    }
  }

  & .MuiInputBase-input::placeholder {
    color: white !important;
    opacity: 0.7;
  }

  & .MuiSelect-icon {
    color: white !important;
  }
}