.container {
    width: 100vw;
    .header {
        
        .alert_block{
            height: 200px;
            width: max-content;
            color: white;
        }
    }
    .status_bar {
        width: 60%;
        border: 1px solid red;
        border-radius: 30px;
        .custom_steps {
            // Add styles for custom steps here
            .ant-steps-item-process .ant-steps-item-icon {
                background: rgb(214, 147, 46);
                border-color: rgb(133, 65, 65);
            }
            .ant-steps-item-process .ant-steps-item-icon > .ant-steps-icon {
                color: rgb(48, 170, 231);
            }
        }
    }
    .performance_bar {
        // Add styles for performance bar here
        height: 700px;
        .demoPerformance {
            text-align: center;
            height: 700px;
        }
        .cash_deposits {
            // Add styles for cash deposits here
        }
        .invest_divident {
            // Add styles for invest divident here
        }
        .capital_gains {
            // Add styles for capital gains here
        }
        .total_access {
            // Add styles for total access here
        }
    }
    .dashboard {
        // Add styles for dashboard here
        .overview {
            // Add styles for overview here
            .line_chart {
                // Add styles for line chart here
            }
            .pie_chart {
                // Add styles for pie chart here
            }
        }
        .specifics {
            // Add styles for specifics here
        }
    }
    .stastitis {
        // Add styles for statistics here
    }
}

