.loginContainer{
    width: 100vw;
    height: 100vh;
    background:url('../photo/1046552_OL0CSR0.jpg');
    background-position: center;
    background-size: cover;
    .leftSide{
        position: relative;
        left: 1vw;
        top: 20vh;

    }
    .rightSide{

    }
}