/* Define colors */
$white: #ffffff;
$primary1: #ff6d1f;
$primary2: #60badb;
$btnColor: #ff4f5a;

@font-face {
  font-family: 'UtRightMilksDemoRegular';
  src: url('../font/ut-right-milks-font/UtRightMilksDemoRegular-JpZo7.otf') format('opentype');
}

@font-face {
  font-family: 'AutumnFlowerFont';
  src: url('../font/autumn-flowers-font/AutumnFlowers-9YVZK.otf') format('opentype');
}

/* Container styling */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm {
  background-color: #2a5d70;
  height: max-content;
  width: 600px;
  padding: 45px 65px 35px 65px;
  position: relative;
  border: 1px solid #2a5d70;
  box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 30px;

  .titleLogin h1 {
    margin-top: 20px;
    color: $primary1;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
  }

  .userItem, .passwordItem {
    margin-bottom:20px;
    position: relative;
    left: 50px;

    .usernameLabel, .passwordLabel {
      color: $primary2;
      font-size: 1rem;
    }
  }

  .rememberItem, .registerItem {
    margin-bottom: 16px;
  }

  .registerItem {
    color: #ff6d1f;
    text-align: start;
  }

  .loginWithGoogleItem {
    margin-top: 16px;

    .loginWithGoogle {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        color: $primary2;
        margin: 0;
        margin-right: 8px;
      }

      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .loginForm {
    padding: 15px;
    border-radius: 20px;

    .titleLogin h1 {
      font-size: 2rem;
    }
  }
}

/* Color customizations for error messages */
.error {
  color: #ff6d1f;
}

.emailError, .passwordError {
  color: #ff6d1f;
}

.checkbox {
  font-family: 'futura, helvetica, sans-serif';
  color: $primary2;
}

.registerItem .link {
  color: #ff6d1f
}

.googleButton {
  background-color: $primary2;
  border: none;
}

.loginWithGoogle p {
  color: #141414;
}

.loginWithGoogle img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
