// src/asset/scss/NewsComp.module.scss

.newsList {
  padding: 20px;
}

.newsItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px; // Set a fixed height for each news item
  margin-bottom: 20px;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
}

.description {
  font-size: 1em;
  color: #555;
}

.content {
  font-size: 1em;
  color: #333;
}

.newsImage {
  width: 100%;
  height: 150px; // Set a fixed height for the image
  border-radius: 8px;
  object-fit: cover;
}