@font-face {
  font-family: 'UtRightMilksDemoRegular';
  src: url('../font/ut-right-milks-font/UtRightMilksDemoRegular-JpZo7.otf') format('opentype');
}

@font-face {
  font-family: 'AutumnFlowerFont';
  src: url('../font/autumn-flowers-font/AutumnFlowers-9YVZK.otf') format('opentype');
}

.container {
  font-family: 'UtRightMilksDemoRegular' !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
  padding: 20px;
  box-sizing: border-box;
  width: 100vw;
  background:url('../photo/1046552_OL0CSR0.jpg');
}

.registerForm {
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.103);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  max-width: 450px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;

  .tittleRegister {
    text-align: center;

    h1 {
      color: rgb(202, 140, 140);
      font-size: 2rem; /* Reduced font size */
      font-family: 'AutumnFlowerFont';
    }
  }

  .formItem {
    display: flex;
    justify-content: center;
    margin-bottom: 12px; /* Reduced margin */

    .usernameLabel,
    .passwordLabel {
      color: rgb(146, 52, 52);
      font-size: 0.875rem; /* Reduced font size */
    }
  }

  .actionItems {
    margin-top: 12px; /* Reduced margin */
  }

  .haveAccountItem {
    text-align: right; /* Align text to the right */
    a {
      color: rgb(202, 140, 140);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .registerForm {
    padding: 15px;
    border-radius: 20px;

    .tittleRegister h1 {
      font-size: 1.5rem; /* Further reduced font size for smaller screens */
    }
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 100%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 0;
  }
  100% {
    background-position: 0% 50%;
  }
}