.bracketList {
  .ant-list-item {
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;

    &:hover {
      background-color: #e162c1; // Pink background on hover
      transform: translateY(-2px);
      color: #fff; // White text color on hover

      .ant-typography {
        color: #fff; // White text color on hover
      }
    }
  }
}